body{
    background-color: #B1B2FF;
    margin: 0px;
    background-image: url('img7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}
/*
    #B1B2FF
    #AAC4FF
    #D2DAFF
    #EEF1FF
*/
.nav{
    display: inline-block;
    margin-left: 35px;
    padding-left: 20px;
    padding-top: 15px;
    position: sticky;
    color: #000000;
    font-family: 'Shalimar', cursive;
    text-decoration: none;
    font-size: 30px;
}

#nav{
    border-bottom:5pxs solid green;
}

p,h1{
    font-style: oblique;
    color: #000000;
    font-family: 'Shalimar', cursive;

}
p{
    font-style: oblique;
    font-size: 25px;
    color: #000000;

}

.iocon{
    width: 15px;
    height: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

img{
    width: 100px;
    height: 100px;
}

.top-container{    
    color: rgba(0, 0, 0, 0.986);
    text-align: center;
    height: 250px;
    padding-top: 45px; 
    background-image: url("img7.jpg");      
    /* border-radius: 30px; */
    
}


.middel-container{
    /* background-color:#AAC4FF; */
    text-align: center;
    /* border-radius: 30px;    */
    padding: 20px;
    background-image: url('img6.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        
}

.middel-container::before{   
    
    background-image: url('img6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .1;
}

.bottom-container{
    background-color: #EEF1FF;    
    text-align: center; 
    background-image: url('img4.png'); 
    background-repeat: no-repeat; /* background no repeat */
    background-size: cover; /* background - size use for img cover all background*/  
    /* border-radius: 30px;   */
    background-attachment: fixed;
    padding-bottom: 20px;
   
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    border-color: rgb(153, 151, 151);
    background-color: #AAC4FF;    
}

.hr1{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    border-color: rgb(153, 151, 151);
    background-color: #EEF1FF; 
}

.cont{
    color: #000000;
}

.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

